
{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}
{% block content%}
<h1>Welcome to pitch master</h1>
<div class="container">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <h1>Top pitches</h1>
            {% for pitch in pitches %}
            <div class="card border-info shadow-lg">
                <div class="card-header text-center font-weight-bold">
                  {{pitch.title|upper}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{pitch.content}}</h5>
                  <footer class="blockquote-footer">By : {{pitch.user.username|capitalize}} </footer>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                      <a href="{{url_for('main.view_pitch', pitch_id=pitch.id)}}">See Comments</a>
                    </div>
                    <div class="float-left"></div>
                </div>
            </div>
            {% endfor%}
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                <h2>Pitch Categories</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group d-flex flex-row justify-content-around ">
                        <li  class="list-group-item list-group-item-action list-group-item-info border-info" style="box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important">
                            <a href="{{url_for('main.interview_pitches')}}">Interview Pitches</a></li>

                        <li  class="list-group-item list-group-item-action list-group-item-info border-info" style="box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important">
                            <a href="{{url_for('main.interview_pitches')}}">Interview Pitches</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}