{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
<!-- content block -->
{% block content %}
<div class="container mt-5 d-flex flex-wrap justify-content-center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card border-info " >
                <div class="card-body">
                    <h5 class="card-title text-center">{{pitch.title|upper}}</h5>
                    <p class="card-text">{{pitch.content}}</p>
                    <div class="card-footer">
                      <h4 class="text-center">Comments:</h4>
                      {% for comment in comments %}
                      
                      <ul class="list-group">
                          <li class="list-group-item list-group-item-info">{{comment.comment|capitalize}}</li>
                            <footer class="blockquote-footer">By : {{comment.user.username|capitalize}} </footer>
              
                      </ul>            
              
                        {% endfor %}
                    </div>
                    {% if current_user.is_authenticated %}
                        <div class="container">
                            {{ wtf.quick_form(comment_form) }}
                        </div>
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock%}